@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-color: #f6f6f6;

    --primary-color: #FDFDFD;
    --secondary-color: #0F172A;
    --accent-color: #F86E26;
    --light-accent-color: #fb7f3c;

    --accent-transparent-color: rgba(248, 112, 38, 0.1);

    --transparent-color: rgba(253, 253, 253, 0.155);
    --drop-shadow-dark-color: rgba(15, 23, 42, 0.45);
    --drop-shadow-orange-color: rgba(248, 112, 38, 0.45);

    --text-color: #FBAF39;
    --desc-color: #0f172a99;

    --font-family: 'Poppins', sans-serif;
    --title-font-family: 'Jost', sans-serif;

    --title-size: 3.5em;
    --word-spacing: 6px;
    --letter-spacing: 1.5px;
    --sub-n-desc-size: 1em;

    --filter-dark: drop-shadow(0 12px 24px var(--drop-shadow-dark-color));
    --filter-orange: drop-shadow(0 2px 6px var(--drop-shadow-orange-color));


    --btn-padding: 0.75rem 1.5rem;
    --mb-btn-padding: 0.5rem 1rem;

    --btn-box-border-radius: 12px;
    --btn-circle-border-radius: 50px;

    --mb-btn-box-border-radius: 10px;
    --mb-btn-circle-border-radius: 25px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);

    position: relative;
}

.sub-title {
    font-size: var(--sub-n-desc-size);
    font-weight: 300;

    color: var(--text-color);

    letter-spacing: 6px;
}

.title {
    font-size: var(--title-size);
    font-weight: 800;

    color: var(--secondary-color);

    line-height: 1.2;
}

.title span {
    color: var(--text-color);
}

.desc {
    font-size: var(--sub-n-desc-size);
    font-weight: 400;

    color: var(--desc-color);
}

.about-header {
    width: 100%;
    height: 15vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 2rem;
}

.about-header .back-home {
    padding: 6px 12px;

    background-color: var(--primary-color);
    filter: var(--filter-dark);

    border-radius: 24px;
}

.about-info {
    width: 100%;

    padding-top: 15vh;
}

.about-info .about-info-figure {
    width: 100%;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info .about-info-figure .about-figure {
    width: 1350px;
    height: 325px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;

    filter: var(--filter-dark);
}

.about-info-figure .about-figure .about-img {
    width: 1350px;
    height: 325px;

    background-color: var(--accent-color);

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    /* X, Y  | 0, 0 | X = Left to Right | Y = Top to Bottom */
    clip-path: path("M 0,125 A 25,25 0,0,1 25,100 L 250,100 A 25,25 0,0,0 275,75 L 275,25 A 25,25 0,0,1 300,0 L 1325,0 A 25,25 0,0,1 1350,25 L 1350,300 A 25,25 0,0,1 1325,325 L 25,325 A 25,25 0,0,1 0,300 Z");

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-figure .about-img .about-image {
    width: 100%;
}

.about-info-figure .about-figure .about-img::after {
    content: "";

    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom right, var(--secondary-color), #ffffff00);

    position: absolute;
    top: 0;
    left: 0;
}

.about-info .about-content {
    width: 100%;
    
    padding: 0 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.statement {
    width: 100%;

    padding: 4rem 2rem 2rem 2rem ;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: relative;
}

.statement .statement-text {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    padding: 0 2rem;
}

.statement .statement-text .statement-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.statement .statement-text .statement-desc .btn-join {
    padding: var(--btn-padding);

    background-color: var(--accent-color);
    filter: var(--filter-orange);

    border-radius: var(--btn-circle-border-radius);
    border: none;
    cursor: pointer;
}

.statement .statement-text .statement-desc .btn-join .anchor-join {
    color: var(--primary-color);
    text-decoration: none;

    font-weight: 500;
}

.statement .statement-content {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    padding: 2rem;
    place-items: center;
}

.statement .statement-content .stmt {
    width: 600px;
    height: 300px;

    position: relative;
    filter: var(--filter-orange);
}

.statement .statement-content .stmt .stmt-img {
    margin-left: 20px;
    width: 4rem;
}

.statement-content .stmt .stmt-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 600px;
    height: 300px;

    background-color: var(--accent-color);

    clip-path: path("M 0,100 A 25,25 0,0,1 25,75 L 75,75 A 25,25 0,0,0 100,50 L 100,25 A 25,25 0,0,1 125,0 L 575,0 A 25,25 0,0,1 600,25 L 600,275 A 25,25 0,0,1 575,300 L 25,300 A 25,25 0,0,1 0,275 Z");

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stmt .stmt-box .title {
    color: var(--primary-color);
}

.stmt .stmt-box .desc {
    color: var(--primary-color);
}




/* ====== LARGE DESKTOP (1025px and above) ====== */
@media (max-width: 2561px) {

}

/* SMALL DESKTOP */
@media (max-width: 1025px) {

}

/* TABLET */
@media (max-width: 769px) {
    .about-info .about-info-figure .about-figure {
        width: 650px;
        height: 250px;
    }

    .about-info .about-info-figure .about-figure .sub-title {
        font-size: calc(var(--sub-n-desc-size)- .75em); 
    }

    .about-info .about-info-figure .about-figure .sub-title {
        font-size: .75em; 
    }

    .about-info .about-info-figure .about-figure .title {
        font-size: 2.75em; 
    }

    .about-info-figure .about-figure .about-img {
        width: 650px;
        height: 250px;

        clip-path: path("M 0,100 A 25,25 0,0,1 25,75 L 200,75 A 25,25 0,0,0 225,50 L 225,25 A 25,25 0,0,1 250,0 L 625,0 A 25,25 0,0,1 650,25 L 650,225 A 25,25 0,0,1 625,250 L 25,250 A 25,25 0,0,1 0,225 Z");
    }

    .about-info .about-content {
        padding: 0 4rem;
    }

    .statement .statement-text .statement-titles .sub-title {
        font-size: .5em;
    }

    .statement .statement-text .statement-titles .title {
        font-size: 2em;
    }

    .statement .statement-content {
        grid-template-columns: 1fr;
    }

    .statement .statement-content .stmt .stmt-img {
        margin-left: 20px;
    }


}

/* ====== EXTRA SMALL DEVICES (max-width: 480px) ====== */
@media (max-width: 426px) {
    .desktop {
        display: none;
    }

    .about-info {
        padding-top: 0;
    }

    .about-info .about-info-figure {
        height: 30vh;
    }

    .about-info .about-info-figure .about-figure {
        width: 325px;
        height: 150px;
    }

    .about-info .about-info-figure .about-figure .sub-title {
        font-size: .25em; 
    }

    .about-info .about-info-figure .about-figure .title {
        font-size: 2em; 
    }

    .about-info-figure .about-figure .about-img {
        width: 325px;
        height: 150px;

        clip-path: path("M 0,75 A 25,25 0,0,1 25,50 L 150,50 A 25,25 0,0,0 175,25 L 175,25 A 25,25 0,0,1 200,0 L 300,0 A 25,25 0,0,1 325,25 L 325,125 A 25,25 0,0,1 300,150 L 25,150 A 25,25 0,0,1 0,125 Z");
    }

    .about-info .about-content {
        padding: 0 2rem;
    }

    .about-info .about-content .title {
        font-size: 2em;
    }

    .statement {
        padding: 2rem 1rem 1rem 1rem ;
    }

    .statement .statement-text {
        grid-template-columns: 1fr;
    }

    .statement .statement-text .statement-titles .sub-title {
        font-size: .25em;
    }

    .statement .statement-text .statement-titles .title {
        font-size: 2em;
    }

    .statement .statement-text .statement-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .statement .statement-content {
        grid-template-columns: 1fr;

        padding: 1rem;
    }

    .statement .statement-content .stmt {
        width: 300px;
        height: 300px;
    }

    .statement .statement-content .stmt .stmt-img {
        margin-left: 20px;
        width: 3rem;
    }

    .statement-content .stmt .stmt-box {
        width: 300px;
        height: 300px;

        clip-path: path("M 0,75 A 25,25 0,0,1 25,50 L 50,50 A 25,25 0,0,0 75,25 L 75,25 A 25,25 0,0,1 100,0 L 275,0 A 25,25 0,0,1 300,25 L 300,275 A 25,25 0,0,1 275,300 L 25,300 A 25,25 0,0,1 0,275 Z");

        padding: 0 1rem;
    }

    .stmt .stmt-box .title {
        font-size: 2em;

        color: var(--primary-color);
    }

    .stmt .stmt-box .desc {
        font-size: .75em;

        color: var(--primary-color);
    }

    

}

