@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-color: #f6f6f6;

    --primary-color: #FDFDFD;
    --secondary-color: #0F172A;
    --accent-color: #F86E26;
    --light-accent-color: #fb7f3c;

    --accent-transparent-color: rgba(248, 112, 38, 0.1);

    --transparent-color: rgba(253, 253, 253, 0.1);
    --drop-shadow-dark-color: rgba(15, 23, 42, 0.45);
    --drop-shadow-orange-color: rgba(248, 112, 38, 0.45);

    --text-color: #FBAF39;
    --desc-color: #0f172a99;

    --font-family: 'Poppins', sans-serif;
    --title-font-family: 'Jost', sans-serif;

    --title-size: 3em;
    --word-spacing: 6px;
    --letter-spacing: 1.5px;
    --sub-n-desc-size: 1em;

    --filter-dark: drop-shadow(0 12px 12px var(--drop-shadow-dark-color));
    --filter-orange: drop-shadow(0 2px 6px var(--drop-shadow-orange-color));


    --btn-padding: 0.75rem 1.5rem;
    --mb-btn-padding: 0.5rem 1rem;

    --btn-box-border-radius: 12px;
    --btn-circle-border-radius: 50px;

    --mb-btn-box-border-radius: 10px;
    --mb-btn-circle-border-radius: 25px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);

    position: relative;
}

.nav {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 24px;
}

.nav-bar {
    width: 80%;
    height: 100%;

    position: relative;
    background-color: transparent;

    display: flex;
    justify-content: space-around;
    align-self: center;

    border-radius: 50px;
    padding: 0 12px;
}

.nav-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    background-color: var(--transparent-color);
    backdrop-filter: blur(12px);
    z-index: -1;
    border-radius: 50px;
    filter: var(--filter-dark);
}

.nav-links {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
    justify-content: flex-start;
}
.logo-img {
    width: 50px;
    height: 50px;

    margin-right: 24px;
    cursor: default;
}

.logo-name {
    font-weight: 600;
    font-size: 1.25em;

    color: var(--text-color);
    cursor: default;
}

.anchors {
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 36px;

    font-size: 1em;
}

.anchors .anchor {
    text-decoration: none;
    color: var(--secondary-color);
}

.anchors .anchor:hover {
    color: var(--accent-color);
    transition: color 0.3s ease;
}

.btn {
    width: 15%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;
}

.btn .btn-box {
    background-color: var(--accent-color);

    border: none;
    border-radius: var(--btn-circle-border-radius);
    padding: var(--btn-padding);
    filter: var(--filter-orange);
}

.btn .btn-box .anchor {
    text-decoration: none;
    color: var(--primary-color);
    
    font-weight: 500;
}

/* Home Section */

.home {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;

    padding-top: 3rem;
}


.home-text {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 24px;
    padding: 0 48px;
}

.sub-title {
    font-size: var(--sub-n-desc-size);
    font-weight: 300;

    color: var(--text-color);

    letter-spacing: 6px;
}

.title {
    font-size: var(--title-size);
    font-weight: 800;

    color: var(--secondary-color);

    line-height: 1.2;
}

.title span {
    color: var(--text-color);
}

.desc {
    font-size: var(--sub-n-desc-size);
    font-weight: 400;

    color: var(--desc-color);
}

.home-btns {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-btns .home-btn {
    padding: var(--btn-padding);

    margin-right: 24px;
    border: none;
    border-radius: var(--btn-box-border-radius);

    cursor: pointer;
}

.home-btns .home-btn .anchor {
    text-decoration: none;
    color: var(--primary-color);

    font-weight: 500;
    font-size: 1.25em;
}

.home-btns .btn-learn {
    border: 1px solid var(--secondary-color);
    
    background-color: transparent;
}

.home-btns .btn-learn .anchor {
    color: var(--secondary-color);
}

.home-btns .btn-start {
    background-color: var(--accent-color);
}

.home-btns .btn-start .anchor {
    color: var(--primary-color);
}

.home-figure {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    width: 500px;
    height: 400px;

    border-radius: 24px 50px 250px 50px;
    overflow: hidden;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    filter: var(--filter-dark);
}

.figure-after {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 24px 50px 250px 50px;
}

.figure-after::after {
    content: '';

    width: 100px;
    height: 100px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-color);

    position: absolute;
    right: 12px;
    bottom: 12px;

    filter: var(--filter-orange);
}

.figure-img {
    width: 100%;
}

.services {
    width: 100%;
    height: 100vh;

    padding-top: 6rem;
}

.service-text {
    width: 100%;
    height: 15vh;
    padding: 0 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.service-text .service-text-container {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.service-text .service-main-text {
    gap: 6px;
}

.service-text .service-main-text .title {
    font-size: calc(var(--title-size) - 1.25em);
    word-spacing: var(--word-spacing);
    letter-spacing: var(--letter-spacing);
}

.service-text .service-sub-text {
    display: flex;
    justify-content: end;
    align-items: center;

    padding-left: 36px;
    text-align: right;
}

.service-text .service-sub-text .desc {
    font-size: calc(var(--sub-n-desc-size) - 2.5px);
}

.service-box {
    width: 100%;
    height: 70vh;

    padding: 6px 10em;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
}

.box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-placeholder {
    width: 300px;
    height: 400px;

    background-color: var(--primary-color);

    border-radius: 24px;
    border: none;
    padding: 12px 24px;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    filter: var(--filter-dark);
}

.box-head {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;

    background-color: var(--accent-transparent-color);
    border: none;
    border-radius: 12px;
}

.box-img .box-icon {
    width: 36px;
}

.box-head .title {
    font-size: calc(var(--title-size) - 2em);
}


.box-desc {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.box-desc .desc {
    text-indent: 24px;
}

.box-anchor {
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
}

.box-anchor .btn-box {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;

    background-color: transparent;
    border: none;
}

.box-anchor .btn-box .anchor {
    text-decoration: none;
    color: var(--accent-color);

    font-weight: 500;
    font-size: 1em;
}

.box-anchor .btn-box .anchor-img {
    width: 24px;
}


.testimonial {
    width: 100%;
    height: 100vh;

    padding-top: 6rem;
}

.ttm-container {
    width: 100%;
    height: 85vh;

    display: grid;
    grid-template-columns: .75fr 1fr;
    gap: 24px;
    padding: 12px 36px;
}

.ttm-box {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 400px;
    height: 500px;

    position: relative;
    z-index: -1;
}

.profile::before {
    content: '';

    width: 100px;
    height: 100px;

    border-radius: 50px;
    border: none;

    background-color: var(--accent-color);

    position: absolute;
    right: -50px;
    bottom: -25px;
    z-index: 1;

    filter: var(--filter-orange);

}

.profile .ttm-profile-img {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    border-radius: 24px;

    filter: var(--filter-dark);
}

.profile .ttm-profile-img .profile-img {
    width: 100%;
}

.ttm-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 24px;
}

.ttm-details .desc {
    font-size: calc(var(--sub-n-desc-size) + .5em);
}

.ttm-details .name {
    font-size: calc(var(--sub-n-desc-size) + .25em);
    font-weight: 700;
}

.ttm-details .position {
    font-size: var(--sub-n-desc-size);
    font-weight: 500;
}

.ttm-details span {
    color: var(--text-color);
}

.ttm-details .profile-socials {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 24px;
}

.ttm-details .profile-socials .profile-link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--secondary-color);

    font-size: calc(var(--sub-n-desc-size) - 2.5px);
    gap: 6px;
}

.ttm-details .profile-socials .profile-link img {
    width: 20px;
}




/* ========================================
   RESPONSIVE DESIGN - MEDIA QUERIES
   ======================================== */

/* ====== LARGE DESKTOP (1025px and above) ====== */
@media (max-width: 2561px) {
    .mobile {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .anchors {
        width: 45%;

        gap: 24px;
    }

    .btn {
        width: 20%;   
    }
}
/* ====== SMALL DESKTOP (768px - 1024px) ====== */
@media (max-width: 1025px) {
    .mobile {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .logo-name {
        font-size: calc(1em - .1em);
    }

    .anchors {
        width: 45%;

        gap: 24px;
    }

    .btn {
        width: 20%;  
    }

    .service-box {
        padding: 6px;
    }

    .testimonial {
        height: auto;
    }

    .ttm-container {
        height: auto;
    }

    .profile {
        width: 350px;
        height: 450px;
    }

    .profile::before {
        width: 75px;
        height: 75px;

        right: -35px;
        bottom: -15px;
    }

    .ttm-details .desc {
        font-size: calc(var(--sub-n-desc-size) - .05em);
    }

    .ttm-details .name {
        font-size: calc(var(--sub-n-desc-size) - .1em);
        font-weight: 700;
    }

    .ttm-details .position {
        font-size: calc(var(--sub-n-desc-size) - .2em);
        font-weight: 500;
    }

    .ttm-details span {
        color: var(--text-color);
    }

    .ttm-details .profile-socials {
        display: flex;
        justify-content: start;
        align-items: center;

        gap: 24px;
    }

    .ttm-details .profile-socials .profile-link {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: var(--secondary-color);

        font-size: calc(var(--sub-n-desc-size) - 2.5px);
        gap: 6px;
    }

    .ttm-details .profile-socials .profile-link img {
        width: 20px;
    }
}

/* ====== TABLET ====== */
@media (max-width: 769px) {
    .tb-desktop {
        display: none;
    }
    .mobile {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .logo-img {
        width: 40px;
        height: 40px;

        margin-right: 12px;
    }

    .logo-name {
        font-size: calc(1em - .25em);
    }

    .anchors {
        width: 45%;

        gap: 18px;
    }

    .anchors .anchor{
        font-size: calc(1em - .25em);
    }

    .btn {
        width: 20%;
    }

    .home {
        height: auto;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .figure-after {
        z-index: -1;
    }

    .service-text .service-main-text .sub-title {
        font-size: calc(var(--sub-n-desc-size) - .25em);
    }

    .service-text .service-main-text .title {
        font-size: calc(var(--title-size) - 2em);
    }

    .service-text .service-sub-text .desc {
        font-size: calc(var(--sub-n-desc-size) - 4px);
    }

    .service-box {
        width: 100%;

        padding: 6px 36px;

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .box-placeholder {
        width: 100%;
        height: 100px;

        flex-direction: row;
        justify-content: space-around;
    }

    .box-head {
        width: 50%;
        height: 100%;

        justify-content: start;
        gap: 36px;
    }

    .box-anchor {
        width: 30%;
        height: 100%;

        justify-content: end;
    }

    .box-anchor .btn-box {
        background-color: transparent;
        border: 2px solid var(--accent-color);

        border-radius: var(--btn-circle-border-radius);
        padding: var(--btn-padding);

        gap: 6px;
    }

    .testimonial {
        height: auto;
    }

    .ttm-container {
        height: auto;
        grid-template-columns: 1fr;
    }
}

/* ====== EXTRA SMALL DEVICES (max-width: 480px) ====== */
@media (max-width: 426px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .nav-links {
        width: 50%;
    }

    .logo-img {
        width: 30px;
        height: 30px;

        margin-right: 6px;
    }

    .logo-name {
        font-size: calc(1em - .3em);
    }

    .mb-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mb-btn .btn-box {
        background-color: var(--accent-color);

        border: none;
        border-radius: var(--btn-circle-border-radius);
        padding: 6px 12px;
        filter: var(--filter-orange);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mb-btn .btn-box .btn-icon {
        width: 24px;
        
    }

    .mb-nav-bar {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 999;
        padding: 12px;

        width: 100%;
        height: 100vh;

        background-color: var(--body-color);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 48px;

        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    .mb-nav-bar.hidden {
        transform: translateX(100%);
    }

    .mb-nav-links {
        width: 100%;
    }

    .mb-logo {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .btn-back {
        width: 46px;
        height: 46px;

        border: none;
        border-radius: 24px;

        display: flex;
        justify-content: center;
        align-items: center;

        filter: var(--filter-orange);
        margin-left: auto;

        background-color: var(--accent-color);

    }

    .back-icon {
        width: 36px;
        height: 36px;
    }

    .mb-logo .logo-img {
        width: 50px;
        height: 50px;

        margin-right: 12px;
    }

    .mb-logo .logo-name {
        font-size: 1.25em;
    }

    .mb-anchors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 24px;
    }

    .mb-anchors .anchor {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        

        padding: 0 36px;

        text-decoration: none;
        color: var(--secondary-color);

        font-size: 1.5em;
        font-weight: 500;
    }

    .mb-anchors .anchor:hover {
        color: var(--light-accent-color);
        transition: color 0.3s ease;
    }

    .anchor-icon {
        width: 24px;

        margin-left: auto;
    }

    .mb-nav-bar-btn {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mb-nav-bar-btn .btn-box {
        background-color: var(--accent-color);

        border: none;
        border-radius: var(--btn-circle-border-radius);
        padding: var(--btn-padding);
        filter: var(--filter-orange);
    }

    .mb-nav-bar-btn .btn-box .anchor {
        text-decoration: none;
        color: var(--primary-color);
        
        font-weight: 800;
        font-size: 1.5em;
    }

    .home {
        padding-top: 7rem;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .home-text {
        gap: 36px;
        padding: 0 24px;
    }

    .sub-title {
        font-size: .75em;
    }

    .title {
        font-size: 2.5em;
    }

    .desc {
        font-size: .75em;
    }

    .home-btns {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-btns .home-btn {
        padding: var(--mb-btn-padding);

        margin-right: 24px;
        border: none;
        border-radius: var(--mb-btn-box-border-radius);

        cursor: pointer;
    }

    .home-btns .home-btn .anchor {
        text-decoration: none;
        color: var(--primary-color);

        font-weight: 500;
        font-size: 1em;
    }

    .home-btns .btn-learn {
        border: 1px solid var(--secondary-color);
        
        background-color: transparent;
    }

    .home-btns .btn-learn .anchor {
        color: var(--secondary-color);
    }

    .home-btns .btn-start {
        background-color: var(--accent-color);
    }

    .home-btns .btn-start .anchor {
        color: var(--primary-color);
    }

    .home-figure {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .figure {
        width: 85%;
        height: 75%;

        border-radius: 24px 50px 200px 50px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .figure-img {
        width: 100%;
    }

    .figure-after {
        z-index: -1;
    }

    .figure-after::after {
        right: 18px;
        bottom: 18px;
    }

    .service-text .service-main-text .sub-title {
        font-size: calc(var(--sub-n-desc-size) - .5em);
    }

    .service-text .service-main-text .title {
        font-size: calc(var(--title-size) - 2.25em);
    }

    .service-text .service-sub-text .desc {
        font-size: calc(var(--sub-n-desc-size) - .5em);
    }

    .service-box {
        padding: 6px;

        grid-template-rows: .25fr .25fr .25fr;
    }

    .box-placeholder {
        padding: 12px;

        z-index: -1;
    }

    .box-head {
        width: 75%;

        gap: 12px;
    }

    .box-anchor {
        width: auto;
    }

    .box-anchor .btn-box {
        padding: calc(0.75rem - 0.5rem) calc(1.5rem - 0.0625rem);
    }

    .box-anchor .btn-box .anchor {
        display: none;
    }

    .testimonial {
        height: auto;
    }

    .ttm-container {
        height: auto;

        grid-template-columns: 1fr;
        padding: 12px;
    }


    .profile {
        width: 300px;
        height: 400px;
    }

    .profile::before {
        width: 75px;
        height: 75px;

        right: -25px;
        bottom: -15px;
    }

    .ttm-details .desc {
        font-size: var(--sub-n-desc-size);
    }

    .ttm-details .name {
        font-size: var(--sub-n-desc-size);
    }

    .ttm-details .position {
        font-size: calc(var(--sub-n-desc-size) - .25em);
    }

    .ttm-details .profile-socials {
        gap: 12px;
    }

    .ttm-details .profile-socials .profile-link {
        font-size: calc(var(--sub-n-desc-size) - .5em);
        gap: 6px;
    }
}